.sec3-content {
    max-width: 543px;
    min-height: 374px;
    background: #232323;
    mix-blend-mode: normal;
    opacity: 0.9;
    padding: 20px;
    margin-left: 80px; 
}
.sec-three {
    max-width: 1770px;
    min-height: 700px;
    background-image: url(../images/sec-img3.png);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start; 
}
.sec3-sub {
    max-width: 1770px;
    min-height: 700px;
    background-image: url(../images/sec3-sub-img.png);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    
    
}