.title4 {
    max-width: 390px;
    min-height: 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;

}
.title4-sub {
    max-width: 150px;
    min-height: 26px;
    font-style: font.$font-style;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    
    
}
.info4 {
    
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;
    max-width: 581px;
    min-height: 165px;
    

}
.sec4-content {
    background: #232323;
    max-width: 508px;
    min-height: 287px;
    margin-left: 50px;
    padding: 20px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.photo2 {
    max-width: 445px;
    min-height: 300px;
}