.sec3-content {
    max-width: 543px;
    min-height: 374px;
    background: #232323;
    mix-blend-mode: normal;
    opacity: 0.9;
    padding: 20px;
    margin-left: 80px; 
    margin-right: 80px;
}
.sec-three {
    max-width: 1770px;
    min-height: 700px;
    background-image: url(../images/sec-img3.png);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start; 
}
.sec3-sub {
    max-width: 1770px;
    min-height: 700px;
    background-image: url(../images/sec3-sub-img.png);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;

    
}
.sec-four {
    max-width: 1770px;
    min-height: 731px;
    background-image: url(../images/sec4-img1.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.title3 {
    font-style: font.$font-style;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1.5px;
    color: #E8E8E8;
}
.info3 {
    width: 508px;
    height: 78px;
    font-style: font.$font-style;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #E8E8E8;

}
