.sec3-content {
    max-width: 543px;
    min-height: 374px;
    background: #232323;
    mix-blend-mode: normal;
    opacity: 0.9;
    padding: 20px;
   
   
    
}
.sec-three {
    max-width: 1770px;
    min-height: 700px;
    background-image: url(../images/sec-img3.png);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
}