header {
  background-image: url(../images/header-img.png);
  background-size: cover;
  max-width: 1770px;
  width: 100%;
  min-height: 685px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-content {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 26px;
  letter-spacing: 4.8px;
  color: #FFFFFF;
}

.info {
  font-style: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 6.82px;
  color: #FFFFFF;
}

.input {
  padding: 10px;
  font-size: 17px;
  border: 4px solid white;
  float: left;
  width: 60%;
  background: whitesmoke;
}

.btn1 {
  float: left;
  width: 40%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 4px solid white;
  border-left: none;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sec-one {
  max-width: 1773px;
  min-height: 83px;
  background: #5474FD;
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.logo {
  font-style: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 4.8px;
  color: #FFFFFF;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.nav-li {
  font-style: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  padding: 20px;
}

.sec-two {
  max-width: 1770px;
  min-height: 685px;
  background-image: url(../images/sec-img2.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title2 {
  font-style: normal;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 26px;
  color: #FFFFFF;
}

.info2 {
  font-style: normal;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.6px;
  color: #E8E8E8;
}

.sec-content {
  max-width: 560px;
  min-height: 250px;
}

.btn2 {
  max-width: 328px;
  min-height: 63px;
  padding: 10px;
  background: #2196F3;
  color: white;
  border: none;
}

.photo2 {
  margin-left: 50px;
  border: solid 5px transparent;
  max-width: 350px;
  min-height: 220px;
}

.photo1 {
  border: solid 5px transparent;
  max-width: 450px;
  min-height: 220px;
}

.photos :hover {
  border-color: #2196F3;
}

.sec-2sub {
  max-width: 1773px;
  max-height: 340px;
  background: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

button:hover {
  background-color: blue;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.sec3-content {
  max-width: 543px;
  min-height: 374px;
  background: #232323;
  mix-blend-mode: normal;
  opacity: 0.9;
  padding: 20px;
  margin-left: 80px;
  margin-right: 80px;
}

.sec-three {
  max-width: 1770px;
  min-height: 700px;
  background-image: url(../images/sec-img3.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sec3-sub {
  max-width: 1770px;
  min-height: 700px;
  background-image: url(../images/sec3-sub-img.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.sec-four {
  max-width: 1770px;
  min-height: 731px;
  background-image: url(../images/sec4-img1.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title3 {
  font-style: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1.5px;
  color: #E8E8E8;
}

.info3 {
  width: 508px;
  height: 78px;
  font-style: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #E8E8E8;
}

.title4 {
  max-width: 390px;
  min-height: 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.title4-sub {
  max-width: 150px;
  min-height: 26px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.info4 {
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 26px;
  color: #FFFFFF;
  max-width: 581px;
  min-height: 165px;
}

.sec4-content {
  background: #232323;
  max-width: 508px;
  min-height: 287px;
  margin-left: 50px;
  padding: 20px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photo2 {
  max-width: 445px;
  min-height: 300px;
}

.footer {
  max-width: 1773px;
  min-height: 271px;
  background: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo5 {
  max-width: 193px;
  min-height: 26px;
  font-style: normal;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 3.36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.info5 {
  max-width: 196px;
  min-height: 26px;
  font-style: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1.6px;
  color: #FFFFFF;
}

body {
  margin: 10px;
  padding: 10px;
  max-width: 1773px;
  width: 100%;
}