@use 'font';

@import 'header';
@import 'section-two';
@import 'section-three';
@import 'section-four';
@import 'footer';
@import 'mediaquries';


body {
    margin: 10px;
    padding: 10px;
    max-width: 1773px;
    width: 100%;
}

